<h3>Favorites List</h3>


<table class="table">
  <tbody>
    <tr>
      <% for (var i = 0;i<favorites.length;i++) { %>
        <% if (i<favorites.length && (i%3)===0) { %>
          <tr></tr>
        <% } %>
        <% var favorite = favorites[i]; %>
        <td class="centered">
          <a href="/movies/<%= favorite.imdbid %>"><img src="<%= favorite.poster %>" class="thumb"></a>
          <a href="/favorites/<%= favorite.id %>/comments" class="commentBtn"><%= favorite.comments.length %></a>
          <!--               COMMENT.LENGTH commented out for testing linkthur w filtered list ^^^^^^^^^^^^ -->
          <figcaption><%= favorite.title %> &mdash; <%= favorite.year %>
          </figcaption>
          <div class="col-md-12">
            <form action="/favorites/<%= favorite.id %>?_method=delete" method="POST" role="form">
              <button type="submit" class="unFavBtn"></button>
            </form>
            <a href="/favorites/<%= favorite.id %>/tags/new" class="tagBtn"></a>
          </div>
          </td>
          <% if (i===(favorites.length-1) && favorites.length<3) { %>
            <td class="centered tbl-fill">&nbsp;</td>
            <% if (favorites.length===1) { %>
              <td class="centered tbl-fill">&nbsp;</td>
            <% } %>
          <% } %>
      <% } %>

    </tr>
  </tbody>
</table>


